.pagination {
  display: flex;
  flex-direction: row;
  column-gap: 3px;
  margin: 10px auto;
}

.pagination__button {
  width: 35px;
  height: 35px;
  border: 1px solid #cba662;
  border-radius: 5px;
  background-color: #f1f1f1;
  transition: 0.5s;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.pagination__input {
  width: 30px;
  height: 1.4em;
  text-align: center;
  justify-content: center;
  border: none;
}

.pagination__button:hover {
  background-color: #cba662;
}

.pagination__button:disabled {
  background-color: #f1f1f1;
  cursor: auto;
}

.pagination__button_active {
  background-color: #cba662;
}
